@import "../../assets/scss/main.scss";

.wrapper--header {
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-direction: row;
  transition: padding 0.3s;
  align-items: stretch;
  justify-content: space-between;

  @include desktop-menu {
    justify-content: flex-start;
  }
}
.header {
  background-color: rgba($clr-black, 0.9);
  position: fixed;
  z-index: 700;
  top: 0;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid $clr-white;
  width: 100%;
}
