@import "../../assets/scss/main.scss";
.logo {
  cursor: pointer;
  font-family: $ff-primary;
  font-size: $fs-l;
  font-weight: $fw-bold;
  color: $clr-black;
  background-color: $clr-white;
  padding: 0.75em;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  transform: rotate(-4deg) translateY(35%);
  transition: all 0.3s;
  position: relative;
  color: white;
  flex-shrink: 0;
  letter-spacing: 0.02em;

  @include desktop-menu {
    z-index: 999;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(4deg);
    color: $clr-black;
    transition: all 0.3s;
    letter-spacing: 0.02em;
  }
  &:hover::after {
    transform: translate(-50%, 50%) rotate(0deg);
  }

  &:active:after {
    transform: translate(-50%, 40%) rotate(0deg);
  }

  & a {
    color: $clr-white;
    text-decoration: none;

    &:focus {
      outline: $clr-primary dashed 2px;
      outline-offset: 0.3em;
    }
  }
}

.logo-small {
  cursor: pointer;
  font-family: $ff-primary;
  font-size: $fs-l;
  font-weight: $fw-bold;
  color: $clr-black;
  background-color: $clr-white;
  padding: 0.75em;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  transform: rotate(-4deg) translate(-1em, 25%) scale(0.85);
  transition: all 0.3s;
  position: relative;
  color: white;
  flex-shrink: 0;
  letter-spacing: 0.02em;

  @include desktop-menu {
    z-index: 999;
  }

  &::after {
    position: absolute;
    top: -0.4rem;
    left: 50%;
    transform: translate(-50%, 50%) rotate(4deg);
    color: $clr-black;
    transition: all 0.3s;
    letter-spacing: 0.02em;
  }
  &:hover::after {
    transform: translate(-50%, 50%) rotate(0deg);
  }

  &:active:after {
    transform: translate(-50%, 40%) rotate(0deg);
  }

  & a {
    color: $clr-white;
    text-decoration: none;
    &:focus {
      outline: $clr-primary dashed 2px;
      outline-offset: 0.3em;
    }
  }
}
